
:root {
    --ff-primary: 'Roboto', sans-serif;;
    --ff-secondary: ;
}

body {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: var(--ff-primary);
}

img {
    border: 3px solid white;
    width: 50%;
}

span {
    color: yellow;
    text-decoration: underline;
}
span:hover {
    color: red;
}

