
:root {
    --ff-primary: 'Roboto', sans-serif;;
    --ff-secondary: ;
}

body {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: var(--ff-primary);
}

img {
    width: 30%;
}

#artwork {
    margin-top: 2em;
    font-size: 3em;
}

span {
    color: yellow;
    text-decoration: underline;
}
span:hover {
    color: red;
}

