*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, span,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Dancing Script', cursive;
    --ff-backup:'Overpass', sans-serif;
}

/* Start Here */

body {
    background-color: black;
    max-width: 95%;
}

.mainPage {
     /* border : 1px solid green;  */
     margin: 25%;
}

.mainPage img {
    max-width: 100%;
    z-index: 1;
}

.mainPage .home img:hover {
    color: red;
}

.mainPage .about {
    padding-top: 5rem;
}

#indexFrame {
    position: absolute;
    top: 0;
    max-width: 100%;
    z-index: -1;
}

/* Home Page */

.mainHome {
    margin: 10%;
}

.workInfo {
    margin-top: 2em;
    margin-left: 2em;
}

.workInfo h2{
    /* border-bottom: 4px solid #810000; */
    color: #810000;
    font-family: var(--ff-primary);
    font-weight: 900;
    font-size: 3.5em;
}

.workInfo h3 {
    color: white;
    font-family: var(--ff-primary);
    font-size: 2.5em;
    margin-top: 0.5em;
}
.workInfo p {
    background-color: white;
    color: black;
    padding: 0.3em;
    font-size: 2em;
    margin-top: 0.5em;
    font-family: var(--ff-primary);
}

.workInfo a:visited {
    color: black;
}

.workOne {
    margin-top: 2em;
    margin-left: 1em;
}


/* About Page */

.mainAbout {
    margin: 10%;
}

.mainAbout {
    color: white;
}

.aboutMe__Description {
    margin-top: 5em;
    margin-left: 1em;
}

.aboutMe__Description h2 {
    font-family: var(--ff-secondary);
    font-weight: 900;
    font-size: 4em;
    color: #810000;
}

.aboutMe__Description span {
    display: block;
    font-family: var(--ff-backup);
    font-size: 900;
    font-weight: 900;
    color: #eeebdd;
}
